body {
	margin: 0;
	padding: 0;
	background-color: #332E30;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

h1, h2 {
	color: white;
	text-align: center;
	color: red;
    padding: 60px;
}

p {
	color: white;
	text-align: justify;
}

figure{
	text-align: center;
	margin: 30px auto;
}

#music-dot {
	display: flex;
	margin: 10vw auto 0 auto;
}

figcaption {
	color: white;
}
